  
@{
    ViewBag.Title = "List";
}




<h2>List</h2>

<span>@ViewBag.a + @ViewBag.b = @ViewBag.c</span>

<table class="table table-bordered">

    <tr>
        <td>Name</td>
        <td>ID</td>
        <td>Dob</td>
    </tr>

   @foreach (string n in ViewBag.Name)
   {
       <tr>
           <td>@n</td>
       </tr>
   }
    <!----<tr>

        <td>Rafi</td>
        <td>21-45400-3</td>
        <td>06-03-2003</td>
    </tr>
    <tr>
        <td>Sadid</td>
        <td>21-45400-1</td>
        <td>05-02-2007</td>
    </tr>-->
    
</table>

